PORT=5100
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=taxivaxi_agent
DB_CONNECTION_LIMIT=10
# PORT=5100
# NODE_ENV=development
# DB_HOST=157.119.43.234
# DB_PORT=3306
# DB_USER=ctapi_dev_cotrav_user
# DB_PASSWORD=eWnE;,t=gHidf=;V
# DB_NAME=ctapi_dev_cotrav_db
# DB_CONNECTION_LIMIT=10